/* Coolors Exported Palette - coolors.co/904c77-2c5dd2-061a40-60463b-bdc696 */

/* HSL */
$sugar-plum: hsla(322%, 31%, 43%, 1);
$cerulean-blue: hsla(222%, 65%, 50%, 1);
$maastricht-blue: hsla(219%, 83%, 14%, 1);
$rose-ebony: hsla(18%, 24%, 30%, 1);
$sage: hsla(71%, 30%, 68%, 1);

/* RGB */
$sugar-plum: rgba(144, 76, 119, 1);
$cerulean-blue: rgba(44, 93, 210, 1);
$maastricht-blue: rgba(6, 26, 64, 1);
$rose-ebony: rgba(96, 70, 59, 1);
$sage: rgba(189, 198, 150, 1);
